* {
  border: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


body {
  background-color: rgb(172, 176, 180);
}


header {
  margin-top: 5px;
  width: 100%;
  text-align: center;
  background-color: rgb(172, 176, 180);
}

header div {
  display: inline-block;
  vertical-align: middle;
}

header div img {
  height: 30vh;
  border: 5px solid rgb(41, 44, 44);
}


nav {
  background-color: rgb(41, 44, 44);
}

nav a {
  display: inline;
  text-decoration: none;
  color: antiquewhite;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 15px;
}

li{
  display: inline;
}


a:hover {
  background-color: rgb(172, 176, 180);
}


main {
  margin-top: 5px;
  margin: 10px;
  margin-bottom: 50px;
}


footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(41, 44, 44);
  margin-bottom: 4px;
}

footer a,
footer strong {
  text-decoration: none;
  color: antiquewhite;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 15px;
}

