main {
    overflow: hidden;
  }
  

  main img {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-right: 55px;
    margin-bottom: 10px;
    border-radius: 10px;
    float:left;
    border: 3px solid rgb(41, 44, 44);
  }

  main .foto6 img {
    width: 65%;
    margin-left: 20px;
  }
